body{
    color :black;

}
.loginpage{
    width: 500px;
    height: 450px;
    margin:auto;
    border:2px solid green ;
    margin-top: 30px;

}
.title
{
    font-size: 30px;
    font-style: bold;
    color:red;
    background-color: antiquewhite;
     text-align: center;
     font-weight: 600;
}
.form-field
{

    margin-top: 50px;
    font-size:20px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.input
{
    margin-top: 20px;
    border: 2px solid darkmagenta;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
    padding-left: 20px;
}
.label
{
    margin-top: 10px;
    margin-left: 35px;
    font-size: 25px;
    letter-spacing: 1px;
}
#btn
{
    width: 120px;
    margin-left: 180px;
    border: 2px solid rgb(47, 113, 255);
   background-color:transparent;
}
.checkbox
{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}
.description{
    margin-left: 10px;
    font-size: 20px;
   
    font-weight: 500;

}
